.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}
.cardsContainer {
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  .cardsContainer {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    margin-left: auto;
    margin-right: auto;
  }
}
