.main {
  background-color: #181b20;
  padding: 1.3rem 2rem;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .main {
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
}
